body {
    display: flex;
    flex-direction: column;
    width: calc(100% - 1rem);
    max-width: var(--max-body-width);
    min-height: 100%;
    margin: 0 auto;
    overflow-wrap: break-word;
}

// main {
//     flex-grow: 1;
// }

.container {
    max-width: 1000px;
    margin-inline: auto;
}