article header,
div header,
main header {
    padding-top: 0;
}

header {
    margin: 0 auto;
    padding: var(--space3) var(--space2);
    text-align: var(--justify-important);   
}

footer,
main {
    margin: 0 auto;
    padding: var(--space3) var(--space2);
    max-width: var(--width-content);
}
