/* based on MVP.css v1.12 - https://github.com/andybrewer/mvp */

@import "vars";

/* Layout */

body {
    background: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: var(--base-fz);
    line-height: var(--line-height);
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

article aside {
    background: var(--color-secondary-accent);
    border-left: 4px solid var(--color-secondary);
    padding: 0.01rem 0.8rem;
}

hr {
    background-color: var(--color-bg-secondary);
    border: none;
    height: 1px;
    margin: 4rem 0;
    width: 100%;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: var(--justify-important);

    aside {
        border: 1px solid var(--color-bg-secondary);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow) var(--color-shadow);
        margin: 1rem;
        padding: 1.25rem;
        width: var(--width-card);
    
        &:hover, &:focus {
            box-shadow: var(--box-shadow) var(--color-bg-secondary);
        }
    }
}

[hidden] {
    display: none;
}

@import "layout";
@import "nav";
@import "headlines";
@import "typography";
@import "code";
@import "links";
@import "dialog";
@import "post";
@import "site-header";
@import "card";
@import "table";
@import "form";
// @import "utilities";
