.post {
    --base-fz: 1.25rem;
}

.post-article {
    max-width: var(--post-maxWidth);
    margin-inline: auto;
    padding-inline: var(--space2);

    h2 {
        border-bottom: var(--post-h2-bb);
    }
}
