---
layout: base.njk
---
<main>
	<article class=" container note-article">
		{% if lead %}
		<p class="lead">{{ lead }}</p>
		{% endif %}
		{{ content | safe }}

		{% if source %}
		<div class="source">
			{% for s in source %}
			<a href="{{ s | url }}">Quelle</a>
			{% endfor %}
		</div>
		{% endif %}
		{% if tags %}
			{% include "partials/tags.njk" %}
		{% endif %}
	</article>
</main>
