---
layout: base.njk
title: Meine Artikel
bodyClass: subindex
permalink: /artikel.html
eleventyNavigation:
  key: posts
  title: Artikel
  order: 3
---
<section>
  <div class="container">
      <h2>{{ title }}</h2>
    {% for post in collections.getAllPosts %}
      {% include "partials/simple-list.njk" %}
    {% endfor %}
  </div>
</section>
