---
layout: base.njk
title: Meine Notizen
bodyClass: subindex
permalink: /notizen.html
eleventyNavigation:
  key: notes
  title: Notizen
  order: 2
---

<section>
  <div class="container">
      <h2>{{ title }}</h2>
    {% for post in collections.getAllNotes %}
      {% include "partials/simple-list.njk" %}
    {% endfor %}
  </div>
</section>
