---
layout: post.njk
bodyClass: tag

pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - notes
    - posts
    - all
    - getAllPosts
    - getAllNotes
  addAllPagesToCollections: true

renderData:
  title: Kategorie "{{ tag }}"
permalink: /tags/{{ tag }}/
eleventyExcludeFromCollections: true

---
{% set tags = collections[ tag ] %}
{% include "partials/tagslist.njk" %}

