.nav {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: var(--nav-gap);

    &__item--distance {
        margin-right: auto;
    }

    &__link {
        display: block;
        padding: var(--_link-padding, 0);
        text-decoration-thickness: 3px;
        text-underline-offset: 3px;

        &:hover, &:focus {
            text-decoration: none;
        }
    }
}

.nav--main {
    --nav-gap: var(--space1);
    --_link-padding: 0.25em;

    .nav__link--active {
        background-color: #fff;
        color: var(--site-header-bg);


        &:hover, &:focus{
            text-decoration: none;
        }
    }

    @media (min-width: 410px) {
        --nav-gap: var(--space2);
        --_link-padding: var(--space1) var(--space2);
    }
}


.nav--main, .nav--footer {
    margin-block: 0;
}
