@use "../config/variables" as *;

.site-header {
    // background-color: var(--site-header-bg);
    // color: var(--site-header-color);
    // padding-block: 0 var(--space1);
    padding-inline: var(--space2);
    width: 100%;

    .wrap {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 20px;
        max-width: var(--container-width);
        position: relative;
        margin-inline: auto;
        padding-top: var(--space2);

        &:before {
            content: "";
            position: absolute;
            height: 1em;
            top: 0;
            left: 0;
            right: 0;
            background: $gradient1;
        }

        nav {
            grid-column: -3 / -1;
        }
    }
}
.my-image {
    width: 200px;
}
// NOTE: Wiederholungen von Regeln von h1, da die Überschrift nur auf der Startseite eine h1 ist.
.site-title {
    font-family: "Quando Regular", system-ui, sans-serif;
    font-size: max(24px, 4rem);
    margin-block: .7em;
    text-wrap: balance;
    overflow-wrap: break-word;
    font-weight: bold;

    a {
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: underline;
            text-decoration-color: var(--site-header-color);
            text-decoration-thickness: 6px;
            text-underline-offset: 4px;
        }
    }
}
