
main {
    max-width: var(--width-content);
    padding: var(--space1) calc(var(--space1)*4);
    background-color: var(--mainColor);
}

.container {
    max-width: var(--container-width);
    margin-inline: auto;
}

