body, html {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    max-width: var(--width-content);
    padding: var(--space1) calc(var(--space1)*4);
}

.container {
    max-width: var(--container-width);
    margin-inline: auto;
}
