@use "functions" as *;

$hellgrau: #f0f0f0;
$orange-1: #c63;
$mittelbraun: #c90;
$hellbraun: #fc6;

$greengrey: #588189; 
$mediumblue: #069;
$lightblue: #09c;
$dirtyyellow: #cc9;
$mylightorange: #f1c40f; 
$mydarkorange: #e67e22; 
$myred: #a20000; 
$grau: #666;

$gradient1: linear-gradient(to right, #588189 10%, #069 10%, #069 25%, #09c 25%, #09c 48%, #cc9 48%, #cc9 56%, #f1c40f 56%, #f1c40f 68%, #e67e22 68%, #e67e22 76%, #a20000 76%, #a20000 90%, #666 90%, #666 100%);

:root {
  --base-font-size: 16px;
  --body-font-size: 1.25rem;
  --body-ff: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --headline-ff: 'Quando Regular',serif;
  --body-line-height: 1.5;
  --body-color: #000;
  --body-bgcolor: #fff;

  --container-width: 1000px;

  --site-header-bg: #{$orange-1};
  --site-header-color: #fff;

  --bgcol-1: #fc6;
  --section-bgcol: var(--bgcol-1);
  --border-col: #{$mydarkorange};
  --figcaption-bgcol: #{$hellgrau};
  --marker-col: #{$mydarkorange};

  --max-body-width: 48rem;
  --bodyColor: rgb(58, 58, 58);
  --mainColor: #fff;

  // === TODO: durchdenken!!!!
  --space1: 0.5em;
  --space2: 1em;
  --space3: 1.5em;
  --space4: 2em;
  
  --textColor: #000;

  --post-headline-col: var(--site-header-bg);
  // --post-headline-col: #{$myred};
// ==============================

  --h1-fontsize: #{rem(60)};
  --h2-fontsize: #{rem(32)};
  --h3-fontsize: #{rem(26)};
  --h4-fontsize: #{rem(22)};
  --h5-fontsize: #{rem(18)};
  --h6-fontsize: #{rem(16)};
}


// @media (prefers-color-scheme: dark) {
//   :root {

//   }
// }

