{# -------- #}
<footer class="site-footer">
  <div class="container no-print">
    <ul class="nav footer-nav">
      <li{% if bodyClass == "index" %} class="nav-link--distance"{% endif %}>
      <a href="https://grochtdreis.de">Jens Grochtdreis</a>  
      </li>
      {% if bodyClass != "index" %}
      <li class="nav-link nav-link--distance"><a href="{{ '/' | url }}">zurück zur Startseite</a></li>
      {% endif %}
      <li class="nav-link"><a href="/impressum.html">Impressum</a></li>
      <li class="nav-link"><a href="/kolophon.html">Kolophon</a></li>
      {# <li class="nav-link"><a href="/bilderrechte/">Bilderrechte</a></li> #}
    </ul>
  </div>
</footer>
