<header class="site-header">
    <div class="wrap">
        <h1 class="site-title">{{ metadata.title }}</h1>
        {% myImg "css-buddha/blue_v1.min.svg", "Eine ältere Karikatur meinerselbst als Buddha. Ich winke wohlbeleibt mit einem Laptop in der Hand." %}
    </div>
    {% include "partials/navigation.njk" %}
</header>
