<footer class="site-footer">
  <div class="container no-print">
    <ul class="nav nav--footer">
      <li{% if bodyClass == "index" %} class="nav__item--distance"{% endif %}>
      <a class="nav__link" href="https://grochtdreis.de">Jens Grochtdreis</a>
      </li>
      {% if bodyClass != "index" %}
      <li class="nav__item nav__item--distance"><a class="nav__link" href="{{ '/' | url }}">zurück zur Startseite</a></li>
      {% endif %}
      <li class="nav__item"><a class="nav__link" href="/impressum.html">Impressum<item/li>
      <li class="nav__item"><a class="nav__link" href="/kolophon.html">Kolophon</a></li>
      {# <li class="nav__item"><a class="nav__link" href="/bilderrechte/">Bilderrechte</a></li> #}
    </ul>
  </div>
</footer>
<div class="container only-print">
  gedruckt von der Seite: {{metadata.url}}{{ page.url | url }}
</div>
