{# -------- #}
<div class="container no-print">
  <footer class="sitefooter">
    <ul class="nav">
      {% if templateClass != "tmpl-home" %}
      <li class="nav-link getback__link"><a href="{{ '/' | url }}">zurück zur Startseite</a></li>
      {% endif %}
      <li class="nav-link"><a href="/impressum/">Impressum</a></li>
      <li class="nav-link"><a href="/kolophon/">Kolophon</a></li>
      {# <li class="nav-link"><a href="/bilderrechte/">Bilderrechte</a></li> #}
    </ul>
  </footer>
</div>
