    <h2>{{ tag | capitalize }}</h2>
    <ul class="simple-list">
    {%- for t in tags -%}
        <li>
            <a href="{{ t.url | url }}">
            {{ t.data.title }}
            </a>
        </li>
    {%- endfor -%}
    </ul>
