    <h2>{{ tag }}</h2>
    <div class="tags">
      <ul class="taglist">
        {%- for t in tags -%}
        {% set tagUrl %}/tags/{{ t }}/{% endset %}
        <li class="taglist__item">
          <a class="taglist__link" href="{{ tagUrl | url }}">
            {{ t }}
          </a>
        </li>
        {%- endfor -%}
      </ul>
    </div>
